*~
*.pyc
.DS_Store
development.db
local_settings.py
ninasites/ninafirst/settings.py
ninasites/master/settings.py
ninasites/post_settings.py
ninasites/pre_settings.py
ninasites/static/uploaded/*
ninasites/static/static/
geoserver/
downloaded/

dev_config.yml
